.slider{
  position: relative;
  height: 70vh;
  margin-top: 20px;
  .slider_img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: .5s;
  }
  .slider_img.active{
    opacity: 1;
  }
  button{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: white;
    transition: .3s;
    &:hover{
      background-color: whitesmoke;
      color: #000;
    }
  }
  .next_btn{
    top: 40%;
    right: 1rem;
  }
  .prev_btn{
    top: 40%;
    left: 1rem;
  }

  @media (max-width: 768px) {
    height: 30vh;
  }
}

.dots{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
  .dot_item{
    width: 50px;
    height: 5px;
    background-color: white;
    border-radius: 10px;
  }
  .dot_item.active{
    background-color: red;
  }
}